<!-- howdy/templates/about.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Test Side!</title>
    </head>
    <body>
        <h1>Dette er test side</h1>
    <p>
    Travroboten sine trav tips er laget av en robot.    
    </p>
    
    <table>
    <tr>
        <th>ID</th> 
			<th>FORNAVN</th>
			<th>ETTERNAVN</th>
    </tr>
    {% for item in testtabell %}
    <tr> 
        <td>{{ item.id }}</td> 
        <td>{{ item.first_name }}</td>
        
        <td>{{ item.last_name }}</td>
    </tr>
    {% endfor %}
</table>
    
    
    
    
    
    
        <a href="/">Go back home</a>
    </body>
</html>